<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxr.mapper.DocumentMapper">

    <select id="selectList" parameterType="map" resultType="com.xxr.document.vos.DocDocumentVO">
        select d.*,kb.name as knowledgeName from doc_document d
        left join doc_knowledge_base kb on d.kb_id=kb.id
        <where>
            <!-- 全局强制：必须未删除 -->
            d.is_deleted=0
            and kb.is_deleted=0

            <if test="map.kbId != null and map.kbId != ''">
                and d.kb_id =#{map.kbId}
            </if>
            <if test="map.keyword != null and map.keyword !='' ">
                and d.title like concat('%',#{map.keyword},'%')
            </if>
            <if test="map.fileType != null and map.fileType !=''" >
                and d.file_type=#{map.fileType}
            </if>
            <if test="map.parseStatus != null">
                and d.parse_status=#{map.parseStatus}
            </if>

            <!-- 权限条件 全部包起来 -->
            <if test="!map.isAdmin">
                and (
                d.upload_user_id=#{map.userId}
                or kb.visibility=2
                or (kb.visibility=1 and kb.dept_id in (select dept_id from sys_user where id=#{map.userId}))
                )
            </if>
        </where>
        order by d.create_time desc
    </select>

    <select id="selectByKbIdAndStatus" resultType="com.xxr.document.pojo.DocDocument">
        SELECT * FROM doc_document
        WHERE kb_id = #{kbId} AND parse_status = #{status} AND is_deleted = 0
        ORDER BY create_time DESC
    </select>

    <select id="selectByStatus" resultType="com.xxr.document.pojo.DocDocument">
        SELECT * FROM doc_document
        WHERE parse_status = #{status} AND is_deleted = 0
        ORDER BY create_time DESC
    </select>
    <select id="selectbyKbId" resultType="com.xxr.document.pojo.DocDocument">
        select * from doc_document d left join doc_knowledge_base kb on d.kb_id=kb.id
                 <where>
                     d.is_deleted=0
                     and d.kb_id=#{kbId}
                <if test="!admin">
                    and (
                    d.upload_user_id=#{currentId}
                    or kb.visibility=2
                    or (kb.visibility=1 and kb.dept_id in (select dept_id from sys_user where id=#{currentId}))
                    )
                </if>
                 </where>
    </select>
</mapper>